fit-tool==0.9.13
fitparse==1.2.0
garminconnect==0.2.36
# zwift-client is getting old and is tied to ancient protobuf version
# @see https://protobuf.dev/news/2022-05-06/#python-updates
protobuf==3.20.3
requests==2.32.5
zwift-client==0.2.0
python-dotenv==1.2.1

# Testing dependencies
pytest==9.0.1
pytest-cov==7.0.0
pytest-mock==3.15.1
responses==0.25.8
