fit-tool
fitparse
garminconnect
# zwift-client is getting old and is tied to ancient protobuf version
# @see https://protobuf.dev/news/2022-05-06/#python-updates
protobuf==3.20.3
requests==2.32.5
zwift-client
python-dotenv

# Testing dependencies
pytest==9.0.1
pytest-cov==7.0.0
pytest-mock==3.15.1
responses==0.25.8
